In [1]:
import pandas as pd
import numpy as np

In [3]:
colors = pd.read_csv('data/colors.csv')
inventories = pd.read_csv('data/inventories.csv')
inventory_parts = pd.read_csv('data/inventory_parts.csv')
inventory_sets = pd.read_csv('data/inventory_sets.csv')
part_categories = pd.read_csv('data/part_categories.csv')
parts = pd.read_csv('data/parts.csv')
sets = pd.read_csv('data/sets.csv')
themes = pd.read_csv('data/themes.csv')

In [11]:
colors.head()

   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

In [12]:
inventories.head()

   id  version set_num
0   1        1  7922-1
1   3        1  3931-1
2   4        1  6942-1
3  15        1  5158-1
4  16        1   903-1

In [16]:
inventory_sets.shape

(2846, 3)

In [18]:
sets.describe()

               year      theme_id     num_parts
count  11673.000000  11673.000000  11673.000000
mean    2001.972758    311.308575    162.262400
std       13.475364    177.999101    330.192108
min     1950.000000      1.000000     -1.000000
25%     1997.000000    161.000000     10.000000
50%     2005.000000    324.000000     45.000000
75%     2012.000000    470.000000    172.000000
max     2017.000000    614.000000   5922.000000